<div class="container">
  <div>
    <h1>{{ title }}</h1>
  </div>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-4" action="index.html" method="post">
    <p>
      <label>Corre de electronico</label>
      <input #email="ngModel" [(ngModel)]="user.mail" type="email" class="form-control" name="email" required>
      <span *ngIf="!email.valid && email.touched">
        El email es obligatorio
      </span>
    </p>
    <p>
      <label>Contraseña</label>
      <input type="password" #password=ngModel [(ngModel)]="user.password" class="form-control" name="password" required>
      <span *ngIf="!password.valid && password.touched">
        La password es obligatoria
      </span>
    </p>
    <input type="submit" name="Entrar" value="Entrar" class="btn btn-success">
  </form>
</div>
